<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipeapplicatoin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" defer></script>
    <script src="js/main.js" defer></script>
</head>
<body>
    <div class="container">
        <form class="mt-5" >
            <div class="form-group">
              <label for="inputQuery">Enter Food Dish</label>
              <input type="text" class="form-control" id="inputQuery">
            </div>
            <div class="form-group">
              <label for="inputDiet">Enter Diet</label>
              <input type="text" class="form-control" id="inputDiet">
            </div>
            <div class="form-group">
              <label for="inputCuisine">Enter Cuisine</label>
              <input type="text" class="form-control" id="inputCuisine">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
         <div class="card mt-5" style="width: 50%">
            <div class="card-body">
              <h5 class="card-title" id="heading"></h5>
              <p class="card-text font-weight-bold" id="msg1"></p>
              <img src="" alt="Dish" id="msg2">
            </div>
          </div>
    </div>
    
</body>
</html>